<nav class="navbar">
    <div class="navbar-container">
      <ul class="nav-links">
        <!-- <li><a href="javascript:history.back()">← Back</a></li> -->
        <li><a href="/homepage">Home</a></li>
        <li><a href="/journal">Journal</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/findTherapist">Therapist</a></li>
        <li><a href="/relaxVideos">Videos</a></li>
        <li><a href="/quiz">Quiz</a></li>
      </ul>
    </div>
  </nav>
  
  <!-- Spacer to push page content below navbar -->
  <div style="margin-top: 70px;"></div>
  